/* @font-face {
    font-family: 'MonteCarlo';
    src: url('MonteCarlo-Regular.eot');
    src: url('MonteCarlo-Regular.eot?#iefix') format('embedded-opentype'),
        url('MonteCarlo-Regular.woff2') format('woff2'),
        url('MonteCarlo-Regular.woff') format('woff'),
        url('MonteCarlo-Regular.ttf') format('truetype'),
        url('MonteCarlo-Regular.svg#MonteCarlo-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
 */
